Day-05 ------ For loops , Range and code blocks ----

You are going to write a program that calculates the highest score from a List of scores.

e.g. student_scores = [78, 65, 89, 86, 55, 91, 64, 89]

Important you are not allowed to use the max or min functions. The output words must match the example. i.e

The highest score in the class is: x
Example Input
78 65 89 86 55 91 64 89
In this case, student_scores would be a list that looks like: [78, 65, 89, 86, 55, 91, 64, 89]

Example Output
The highest score in the class is: 91

In [ ]:
# Input a list of student scores
student_scores = input().split()
for n in range(0, len(student_scores)):
  student_scores[n] = int(student_scores[n])

highest_score = 0 
for score in student_scores:
  if score > highest_score :
    highest_score = score 

print(f"The highest score in the class is: {highest_score}")

---using rannge ---

In [1]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [2]:
for number in range(1, 11, 3):
    print(number)

1
4
7
10

In [7]:
# add 1+2+3+4+5+......+98+99+100
total = 0
for number in range(1, 101):
    total +=number
print(total)

5050

You are going to write a program that calculates the sum of all the even numbers from 1 to X. If X is 100 then the first even number would be 2 and the last one is 100:

i.e. 2 + 4 + 6 + 8 +10 ... + 98 + 100

Important, there should only be 1 print statement in your console output. It should just print the final total and not every step of the calculation.

Also, we will constrain the inputs to only take numbers from 0 to a max of 1000.

In [10]:
target = int(input()) # Enter a number between 0 and 1000
# üö® Do not change the code above ‚òùÔ∏è

# Write your code here üëá
even_sum =0 
if 0 <= target <= 1000  :
    for num in range(2, target+1,2):
        even_sum += num 


print(even_sum)

306

Instructions
You are going to write a program that automatically prints the solution to the FizzBuzz game. These are the rules of the FizzBuzz game:

Your program should print each number from 1 to 100 in turn and include number 100.

When the number is divisible by 3 then instead of printing the number it should print "Fizz".

When the number is divisible by 5, then instead of printing the number it should print "Buzz".`

And if the number is divisible by both 3 and 5 e.g. 15 then instead of the number it should print "FizzBuzz"

e.g. it might start off like this:

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
...etc

Hint
Remember your answer should start from 1 and go up to and including 100.

Each number/text should be printed on a separate line.

In [ ]:
# n%3== 0 >>>>> Fizz
# n%5 == 0 >>>>>> Buzz
# n%3==0  and n%5 == 0 >>>>fizzBuzz

In [12]:
for n in range(1,101):
    if n%3  == 0  and n%5 == 0 :
        print("FizzBuzz")
    elif n%5 == 0 :
        print("Buzz")
    elif n%3 == 0:
        print("Fizz")
    else:
        print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [13]:
# Print the numbers from 1 to 10 using a for loop.

for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [15]:
no_list=[]
for n in range(1,11):
    no_list.append(n)
print(no_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
# Print the even numbers from 1 to 20 using a for loop.
even_numbers= []
for n in range(0,21,2):
    even_numbers.append(n)

print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
for n in range(0,21,2):
    print(n)

0
2
4
6
8
10
12
14
16
18
20

Print the multiplication table (1 to 10) for a given number using a for loop.

In [29]:
number = 5
for n in range(1,11):
    table = number*n
    print(f"{number} * {n} = {table}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Print a pattern of stars (*) in a right-angled triangle shape using nested for loops. For example, for input 5, the output should be:
*
**
***
****
*****

In [31]:
stars = int(input())
char = "*"
for n in range(1,stars+1):
    print(char * n)

*
**
***
****
*****

Calculate and print the factorial of a given number using a for loop.